@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.column img {
  display: block;
  height: 40px;
  width: 40px;
}

.column-title {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.column-list {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  margin-top: 20px;
}

.column-item {
  margin-top: 10px;
}