* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a  {
    color: inherit;
    text-decoration: none;
}

button {
    color: inherit;
    font-size: 10px;
    background: none;
    border: none;
}

select {
    border: none;
    appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: inherit;
}

img {
    width: 100%;
}

/*
button:
color: зависимый
шрифт: зависимыый
бэкграунд: отсутствует
отступы внутренние: отсутствует
*/

/* 
список:
внешние отступы: обнуляем
внутренние отсутпы: обнуляем
маркеры: обнуляем
рамка: обнуляем
 */

 /* 
 ссылка: 
 цвет: обнуляем
 Нижнее подчеркивание: обнуляем
  */
  
  /* 
  выпадающий список: 
  рамка: обнуляем
  стрелочка: обнуляем
  */

  /* 
  заголовок:
  внешние отсупы: обнуляем
  выделение жирным: обнуляем
  размер текста: обнуляем (придем свойство родителя)
  */

  /* 
  параграм: 
  внешние отступы: обнуляем
  */

  /* 
  картинка:
  размер: 100% родителя 
  */

/* 

*/